<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>OpenSearch</servlet-name>
        <servlet-class>de.ingrid.server.opensearch.servlet.OpensearchServerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenSearch</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProvideDescription</servlet-name>
        <servlet-class>de.ingrid.opensearch.servlet.ProvideDescriptorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvideDescription</servlet-name>
        <url-pattern>/descriptor</url-pattern>
    </servlet-mapping>
    
     <listener>
        <listener-class>de.ingrid.iplug.dsc.util.ContextListener</listener-class>
    </listener>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Any User</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Free</web-resource-name>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/gfx/*</url-pattern>
            <url-pattern>/auth/*</url-pattern>
            <url-pattern>/descriptor/*</url-pattern>
            <url-pattern>/query/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?error=wrong</form-error-page>
        </form-login-config>
    </login-config>

    <error-page>
        <error-code>403</error-code>
        <location>/login.jsp?error=role</location>
    </error-page>
    
</web-app>